@model IEnumerable<WebApplication1.Models.BookModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateAndEdit")
</p>
<p>
     
            @using (@Ajax.BeginForm("SortGenre", "Books", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "content-book" }))
            {
                @Html.Label("Select genre:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("id", ViewBag.genre as SelectList, new { @class = "btn btn-default dropdown-toggle form-control", onchange = "$(this).trigger('submit');" })
                </div>
            }
              
</p>
<div id="content-book">
    @Html.Partial("ViewBooks", Model)
</div>