@model IEnumerable<WebApplication1.Models.BookModel>


<div class="search">
    <span>
    @Ajax.ActionLink("Create new", "CreateAndEdit", new { id = 0 }, new AjaxOptions { UpdateTargetId = "modal-body" }, new {@class="btn btn-warning", data_toggle = "modal", data_target = "#exampleModalScrollable" })
</span>
            @using (@Ajax.BeginForm("SortGenre", "Books", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "content-book" }, new {@class="search-form"}))
            {
               
                <div class="col-md-10">
                   Genre: @Html.DropDownList("id", ViewBag.genre as SelectList, new { @class = "btn btn-default dropdown-toggle form-control", onchange = "$(this).trigger('submit');" })
                </div>
              
            }    
    <div id="content-vote">
        <h5>Голосование лучшей книги:</h5>
         @Html.Partial("~/Views/Vote/Index.cshtml", new ViewDataDictionary { { "votes", @ViewBag.vote } })
    </div>
</div>

<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Create or edit author</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
        </div>
    </div>
</div>
<div id="content-book">
    @Html.Partial("ViewBooks", Model)
</div>