@model IEnumerable<WebApplication1.Models.AuthorBook>

@{
    ViewBag.Title = "Index";
}




<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateOrEdit") |
    @Html.ActionLink("Download users", "Download")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BooksName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            Left days
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BooksName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @(item.DateOrder.Day - DateTime.Now.Day)
            </td>
            <td>
                @if (item.DateOrder.Day - DateTime.Now.Day < 0)
                {
                    @Html.ActionLink("Link", "Link", new { id = item.UserId }) @(" |")
                }
                @Html.ActionLink("Edit", "CreateOrEdit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
