@model IEnumerable<WebApplication1.UsersBooks>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateOrEdit")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.book.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.Name)
        </th>
        <th>
            Left days
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.book.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.Name)
        </td>
        <td>
            @(item.DateOrder.Day - DateTime.Now.Day)
        </td>
        <td>
            @if (item.DateOrder.Day - DateTime.Now.Day < 0)
            {
                @Html.ActionLink("Link", "Link", new { id = item.Id }) @(" |")
            }
            @Html.ActionLink("Edit", "CreateOrEdit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
